{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>AccSys</title>

    <link rel="stylesheet" type="text/css" href="{%static 'main/styles/default.css'%}">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">

</head>
<body>
    <div class="wContainer">
        <!-- side navbar -->
        <div class="sideNavigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><div class="logo"><img src="{% static 'main/assets/images/App Logo only.png' %}" alt=""></div></span>
                        <span class="title" style=" font-family: 'Take Me Out Regular';
                        letter-spacing: 5px; font-size: xx-large; left: 10px; top: 10px;">AccSys</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'inventory' %}">
                        <span class="icon"><ion-icon name="server-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Inventory</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Revenue</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Expenses</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Net Income</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title" style="font-family: Ubuntu;">Sign out</span>
                    </a>
                </li>
            </ul>
        
        </div>

        <div class="main">
             <!-- navbar top -->
             <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <!-- search  -->
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- userImg -->
                <div class="user">
                    <img src="{% static 'main/assets/images/user.jpg' %}" alt="User">
                </div>
            </div>
            <!-- navbar top -->

            <div class="mainContainer">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    

    <!-- script for navbar -->
    <script src="{% static 'main/scripts/dashboard/navbar.js' %}"></script>
</body>
</html>